/*-------------Header Top Bar-------------*/
.header-top{
  border-bottom:2px solid lightgray;
  padding: 10px 0px;
  *{
  display: inline-block;
  }
}
.user-session-area{float: right;}








/*-------------Navigation Bar-------------*/
nav{
  .dropbtn,a {
      background-color: #fff;
      color: #000;
      padding: 10px 7px;
      font-size: 13px;
      text-transform:uppercase;
      border: none;
      cursor: pointer;
      text-decoration: none;
  }
  .dropdown {
      position: relative;
      display: inline-block;
      &:hover .dropdown-content {
          display: block;
      }
  }
  .dropdown:hover .dropbtn, a:hover {
      background-color: #eeeeee;
      color:#000;
  }
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      border: solid 2px #eee;
      z-index: 1;
  }
  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      margin: 0 auto;
      position: relative;
      text-align: left;
    &:hover {background-color: #f1f1f1}
    &:not(:last-child):after {
       content: '';
       position: absolute;
       left: 5%;         /* <-- put left edge in the middle */
       width: 90%;
       height: 1px;
       background: #eee;
       top: inherit;
       bottom: 0;
       }
    }
}
