.product{
  display: inline-block;
  width: 25%;
  text-align: center;
  .product-img{
      .details{display: none;}
      .summary{display: none;}
  }
  h2{color: lightblue; font-size: 36px}
  img{border:1px solid lightgray}
  .title, .author{ font-size: 14px}
  .price{font-weight: 800;}




}
